<header id="headline">
  <section class="basic-info">
    <h1 class="title"><%= profile.full_name %></h1>
    <p class="subtitle"><%= profile.get :headline %></p>
  </section>

  <img src="<%= profile.get(:avatar) %>" class="picture">
</header>

<div class="category">
  <h2 class="title">
    <i class="fa fa-briefcase"></i>
    Experience
  </h2>
</div>


<ol class="timeline large">
  <% profile.positions.each do |position| %>

    <li>
      <h4><%= position["title"] %></h4>
      <time>
        <span><%= position["start_date"] %></span>
        <span><%= position["end_date"] %></span>
      </time>
      <div class="icon fa fa-circle"></div>
      <div class="label">
        <p><%= position["company"] %></p>
      </div>
    </li>

  <% end %>
</ol>



<div class="category">
  <h2 class="title">
  <i class="fa fa-book"></i>
    Education
  </h2>
</div>
<ol class="timeline">
  <% profile.educations.each do |education| %>
    <li>
      <div class="icon fa  fa-circle"></div>
      <div class="label">
        <h4><%= education["school_name"] %></h4>
        <p><%= education["start_date"] %></p>
      </div>
    </li>
  <% end %>
</ol>

<div class="category">
  <h2 class="title">
    <i class="fa fa-gear"></i>
    Projects
  </h2>
</div>
<ol>
  <% profile.projects.each do |project| %>
    <li>
      <h4><%= project["name"] %></h4>
      <p><%= project["description"] %></p>
    </li>
  <% end %>
</ol>

<div class="category">
  <h2 class="title">
    <i class="fa fa-flask"></i>
    Skills
  </h2>
</div>
<ul>
  <% profile.skills.each do |skill| %>
    <li><%= skill["name"] %></li>
  <% end %>
</ul>

<div class="category">
  <h2 class="title">
    <i class="fa fa-certificate"></i>
    Courses
  </h2>
</div>
<ol>
  <% profile.courses.each do |course| %>
    <li>
      <h4><%= course["name"] %></h4>
    </li>
  <% end %>
</ol>
